/*
    BACKGROUND COLORS

    mobile  : #bff
    tablet  : #fcf
    desktop : #ff9

    BREAKPOINTS

    tablet  : 700px
    desktop : 1000px
*/

/*** Default Mobile Styles ****************************/
body{
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, monospace;
    font-size: 0.9em;
    line-height: 1.4;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #bff;
}
ul{
  padding: 0;
}
.inner li {
  border-radius: 10px;
  background-color: #fff;
}


/**** Tablet Styles ***********************************/
@media (min-width: 700px) {
  li {
    background-color: #fcf;
  }
}





/**** Desktop Styles ***********************************/
@media (min-width: 1000px) {

  }
}
